fastapi~=0.115.12
SQLAlchemy~=2.0.40
python-dotenv~=1.1.0
spotipy~=2.25.1
starlette~=0.46.2
uvicorn~=0.34.0
pydantic~=2.11.2
alembic~=1.15.2
psycopg2-binary~=2.9.10
fastapi_sessions==0.3.2
stripe~=12.1.0
