<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Syncify - Jobs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Sync Jobs</h1>
<br>
<table class="border border-gray-200 shadow rounded">
  <thead class="bg-gray-100">
  <tr>
    <th class="px-4 py-2 text-left">ID</th>
    <th class="px-4 py-2 text-left">Created</th>
    <th class="px-4 py-2 text-left">Song Count</th>
    <th class="px-4 py-2 text-left">Progress</th>
    <th class="px-4 py-2 text-left">Status</th>
  </tr>
  </thead>
  <tbody>
  {% if jobs|length > 0 %}
    {% for job in jobs %}
      <tr class="border-t border-gray-200 hover:bg-gray-50">
        <td class="px-4 py-2">{{ job.id }}</td>
        <td class="px-4 py-2">{{ job.created }}</td>
        <td class="px-4 py-2">{{ job.song_count }}</td>
        <td class="px-4 py-2">
          <progress class="min-w-64" value="{{ job.progress if not job.completed else 100 }}"
                    max="{{ job.song_count if not job.completed else 100 }}"></progress>
        </td>
        <td class="px-4 py-2">{{ job.status }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="5" class="px-4 py-2 text-center text-gray-500">No jobs found</td>
    </tr>
  {% endif %}
  </tbody>
</table>
</body>
</html>
