<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Syncify V2</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"
    />
</head>
<body>

<div
        class="block rounded-lg bg-white p-6 text-surface shadow-secondary-1 dark:bg-surface-dark centered-80"
>
    <h5 class="mb-2 text-xl font-medium leading-tight">Syncify</h5>
    <p class="mb-4 text-base">
        Login with spotify
    </p>
    <button class="">
        <a href="{{ login_url }}">Login</a>
    </button>
</div>
</body>
</html>
